﻿/* DEFAULTS
----------------------------------------------------------*/

body {
    font-size: 1em;
    font-family: "Arial";
    margin: 0px;
    padding: 0px;
    color: black;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

p {
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
}

ul {
    margin-bottom: 1px;
    margin-top: 1px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
}

img {
    border-style: none;
}

input::-webkit-input-placeholder {
    font-size: 12px;
    font-style: italic;
    color: #CCC;
    border: 0px;
    padding-right: 50px;
}

input:-moz-placeholder {
    font-size: 12px;
    font-style: italic;
    color: #CCC;
    border: 0px;
    padding-right: 50px;
}

input:-ms-input-placeholder {
    font-size: 12px;
    font-style: italic;
    color: #CCC;
    border: 0px;
    padding-right: 50px;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #0066ff;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-size: 1.1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.window {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.page {
    width: 1400px;
    height: 900px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #CCC;
    overflow:hidden;
    z-index: 1;
}

.background {
    display: block;
    position: relative;
    background-color: #CCC;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 0;
}

.welcome_screen_block {
    display: block;
    position: relative;
    top: -650px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}


.goto_login_button {
    display: block;
    position: relative;
    top: -222px;
    left: -117px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

.smartsheet_link {
    display: block;
    position: relative;
    top: -80px;
    left: -50px;
    height: 20px;
    width: 200px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}



.login_screen_block {
    display: block;
    position: relative;
    top: -700px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;

}

.login_form {
    display: block;
    position: relative;
    top: -352px;
    left: 827px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    z-index: 2;
}

.username {
    display: block;
    position: relative;
    top: 0px;
    border: 0px;
    background-color: transparent;
    width:222px;

}

.password {
    display: block;
    position: relative;
    top: 15px;
    border: 0px;
    background-color: transparent;
    width:222px;
    
}

.login_button {
    display: block;
    position: relative;
    top: -325px;
    left: 320px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

.company_login_button {
    display: block;
    position: relative;
    top: -295px;
    left: 288px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

   
.access_screen_block {
    display: block;
    position: relative;
    top: -650px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}

.not_allowed_screen_block {
    display: block;
    position: relative;
    top: -650px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}

.signup_button {
    display: block;
    position: relative;
    top: -157px;
    left:   -147px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3 ;
    cursor:pointer;
}

.myworkmap_link {
    display: block;
    position: relative;
    top: -83px;
    left: -140px;
    height: 20px;
    width: 300px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

.not_supported_screen_block {
    display: block;
    position: relative;
    top: -650px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}




.carousel_block {
    display: block;
    position: absolute;
    top: 0px;
    width: 898px;
    height: 543px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
}


.foreground {
    display: block;
    position: relative;
    top: 0px;
    background-color: #CCC;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
}


.allow_button {
    display: block;
    position: relative;
    top: -63px;
    left: 318px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

.deny_button {
    display: block;
    position: relative;
    top: -95px;
    left: 254px;    
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 3;
    cursor:pointer;
}

.logo {
    display: block;
    position: absolute;
    top: 8px;
    left: 40px;
    z-index: 2;


}

.user_email {
    display: block;
    position: absolute;
    top: 12px;
    text-align: right;
    right: 70px;    
    z-index: 2;
    color: #bbbbbb;
}


.options_arrow {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 45px;
    z-index: 3;
    cursor:pointer;

}

.logout {
    display: none;
    position: absolute;
    top: 35px;
    text-align: left;
    right: 17px;    
    z-index: 3;
    cursor:pointer;
    color: #bbbbbb;
    font-size:14px;
}


.help_button {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;    
    z-index: 3;
    cursor:pointer;
}


.header_block {
    display: block;
    position: absolute;
    width: 1400px;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}

.header_block_background {
    display: block;
    position: absolute;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 0;
}

.workmap_window {
    background: radial-gradient(ellipse at center, #ececec 0%, #97a6bf 100%);
    width: 100%;
    height:100%;
}

.workmap_page {
    display: block;
    position: absolute;
    width: 1400px;
    height: 900px;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    overflow: hidden;
    z-index:1;
}

.workmap_header_block {
    display: block;
    position: absolute;
    width: 1400px;
    height: 59px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 1;
}

.workmap_header_block_background {
    display: block;
    position: absolute;
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    z-index: 0;
}


.stat_panel_block {
    display: block;
    position: absolute;
    width: 277px;
    height: 748px;
    color: #FFFFFF;
    z-index: 0;
    overflow-y:hidden;
    overflow-x:hidden;

}

.stat_panel_wide {
    display: block;
    position: relative;
    top:0px;
    left:0px;
    z-index: 1;
}

.stat_text_block {
    display: block;
    position: relative;
    top:-653px;
    left:0px;
    width:70px;
    height:748px;
    color: #FFFFFF;
    font-size: x-large;
    text-align:right;
}

.stat_total_sheets {
    display: block;
    position: relative;
    top:3px;
    left:0px;
    color: #FFFFFF;
    z-index: 2;
}

.stat_my_sheets {
    display: block;
    position: relative;
    top:9px;
    left:0px;
    color: #518fb4;
    z-index: 2;
}

.stat_other_sheets {
    display: block;
    position: relative;
    top:12px;
    left:0px;
    color: #FFFFFF;
    z-index: 2;
}

.stat_total_connections {
    display: block;
    position: relative;
    top:40px;
    left:0px;
    color: #FFFFFF;
    z-index: 2;
}

.stat_direct_connections {
    display: block;
    position: relative;
    top:45px;
    left:0px;
    color: #518fb4;
    font-size: x-large;
    z-index: 2;
}

.stat_indirect_connections {
    display: block;
    position: relative;
    top:50px;
    left:0px;
    color: #FFFFFF;
    font-s  ize: x-large;
    z-index: 2;
}

.stat_selected_sheets {
    display: block;
    position: relative;
    top:90px;
    left:0px;
    font-size: x-large;
    color: #d5a728;
    z-index: 2;
}

.stat_selected_connections {
    display: block;
    position: relative;
    top: 95px;
    left:0px;
    font-size: x-large;
    color: #518fb4;
    z-index: 2;
}

.stat_selected_attachments {
    display: block;
    position: relative;
    top:100px;
    left:0px;
    font-size: x-large;
    color: #FFFFFF;
    z-index: 2;
}


.stat_panel_narrow {
    display: none;
    position: relative;
    top:0px;
    left:0px;

}

.stat_open_panel_button {
    display: none;
    position: relative;
    top:0px;
    left:100px;
}

.stat_close_panel_button {
    display: none;
    position: relative;
    top:0px;
    left:100px;
}

.email_button_wide {
    display:  block;
    position: relative;
    margin: 0 auto 0 auto;
    top:170px;
    left: 23px;
    z-index:2;
    cursor: pointer;
}

.download_button_wide {
    display:  block;
    position: relative;
    margin: 0 auto 0 auto;
    top:153px;
    left: 23px;
    z-index:2;
    cursor: pointer;
}

.billboard_text_block {
    display:  block;
    position: relative;
    top:205px;
    left:20px;
    height:50px;
    width: 250px;
    z-index:2;

}

.billboard_item {
    
    display:  block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: large;
    width:250px;
    top:-80px;
    z-index:2;


}

.billboard_date {

    display:  block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    top:-80px;
    width:250px;
    z-index:2;
    font-size: small;
    text-wrap: normal;
}

.billboard_name {

    display:  block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    top:-75px;
    width:250px;
    z-index:2;
    font-size: medium;
    text-wrap: normal;
}

.overlay_block {
    display: block;
    position: absolute;
    top:100px;
    left:100px;
    height:100%;
    width:100%;
    margin:0 auto 0 auto;

}

.zoom_indicator {
    display: block;
    position: relative;
    top: 150px;
    left: 0px;
}

.zoom_selector {
    display: block;
    position: relative;
    top: -58px;
    left: 5px;
    z-index:2;
}

.rotate_left {
    display: block;
    position: relative;
    top:100px;
    left:100px;
}

.rotate_right {
    display: block;
    position: absolute;
    top: 500px;
    right: 300px;
}

.rotate_bottom {
    display: block;
    position: relative;
    bottom: -400px;
    left: -150px;
    margin: 0 auto 0 auto;
}

.search_block {
    display: block;
    position: relative;
    top: -700px;
    left: 30px;
    width: 210px;
    z-index:5;
}

.search_text {
    display: block;
    position: relative;
    top: 20px;
    left: 0px;
    border: 0px;
    background-color: transparent;
    width: 180px;
    text-align: left;
    color: black;
}

.search_icon {
    display: block;
    position: relative;
    top: -2px;
    right: 0px;
    border: 0px;
    cursor: pointer;
    float:right;
    z-index:999;
}