﻿body {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    background: radial-gradient(ellipse at center, #ececec 0%, #97a6bf 100%);
    margin: 0px auto 0px auto;
    z-index: 0;
    overflow:hidden;
}


